<h1>Greenlight</h1>
<p>Project Greenlight is an online crowd funded initiative to help high school students in North America in obtaining necessary funding to attend universities and colleges of their choice</p>
